audio {
	display: block;
	margin: auto;
}

body {
	background: url(../img/background.jpg) no-repeat;
	background-attachment: fixed;
	/*TODO: Center on mobile*/
	background-position: center center;
	background-size: 100% contain;
	text-align: center;
}

img {
	padding-bottom: 5%;
}

p, label, input, textarea {
	font-family: 'Quicksand', sans-serif;
	font-size: 120%;
	font-weight: bold;
}

h1, h2 {
	font-family: 'Patrick Hand SC', cursive;
}

.btn {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 130%;
	margin-top: -3px;
	margin-bottom: 3px;
}
.btn:hover {
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: none;

}
.btn-red {
	background: #dd6060;
	border-color: #dd6060;
	box-shadow: 0 3px #881010;
	color: #ffffff;
}
.btn-red:hover {
	color: #ffffff;
}
.btn-white {
	background: #ffffff;
	border-color: #ffffff;
	box-shadow: 0 3px #aaaaaa;
	color: #dd6060;
	font-weight: bold;
}
.btn-white:hover {
	color: #dd6060;
}

.form-horizontal {
	padding: 2%;
}

.jumbotron {
	background-color: #3e3e3e;
	padding: 5% 0;
	margin-bottom: 0;
}

.logo {
	display: block;
	margin: auto;
}

.navbar {
	background-color: #3e3e3e;
}
.row {
	padding: 2%;
}

.well {
	background-color: rgba(255, 255, 255, 0.8);
}

/*Fix grid alignment issue, from: https://stackoverflow.com/questions/42032378/bootstrap-grid-not-aligning-correctly*/
@media (max-width: 992px) {
	.alignpls:nth-child(2n+1) {
		clear: left;
	}
}

#address {
	text-align: left;
	padding: 0 3%;
}

#map {
	height: 400px;
	width: 600px;
}

#what {
	background-color: #dd6060;
	/*From http://lea.verou.me/css3patterns/#diagonal-stripes*/
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,0.05) 35px, rgba(255,255,255,0.05) 70px);
	color: white;
}
#what p {
	padding: 2% 5% 10% 5%;
	text-shadow: 0px 2px 5px #881010; 
}

#where {
	background-color: #3e3e3e;
	color: white;
}

#who {
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 140%;
	text-shadow: 0px 2px 5px #ffffff;
}