audio {
	display: block;
	margin: auto;
}

body {
	text-align: center;
}

p, label {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

h1, h2 {
	font-family: 'Patrick Hand SC', cursive;
}

.form-horizontal {
	padding: 2%;
}

.jumbotron {
	background-color: #3e3e3e;
}

.logo {
	display: block;
	margin: auto;
}

.navbar {
	background-color: #3e3e3e;
}

.row {
	padding: 2%;
}

#address {
	text-align: left;
	padding: 0 3%;
}

#map {
	height: 400px;
	width: 600px;
}

#what {
	background-color: #dd6060;
	color: white;
}
#what p {
	padding: 0% 5%;
	text-shadow: 0px 2px 5px #881010; 
}

#where {
	background-color: #3e3e3e;
	color: white;
}